In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter


df = pd.read_excel("test_data1.xlsx")
df['Sale'] = df['amount']/df['quantity']  # Set the sale for each unique ID
df = df[['Week_ending','Uid code', 'quantity', 'amount', 'ND', 'Sale']]  # Delete unnecessary columns
df['PoS'] = 1  # Set default value for Part of Sales for each UID 
df.head(45)

    Week_ending  Uid code  quantity      amount        ND        Sale  PoS
0        201500         0       222     22502.0  0.065934  101.360360    1
1        201500         2     14744   2157921.0  0.791209  146.359265    1
2        201500         8     14218    561888.0  0.461538   39.519482    1
3        201500         9     46848   4541924.0  0.879121   96.950222    1
4        201500        10     61756   1683835.0  0.406593   27.265934    1
5        201500        11       103     14011.0  0.087912  136.029126    1
6        201500        13       302     18181.0  0.054945   60.201987    1
7        201500        14     12005   1171070.0  0.582418   97.548521    1
8        201500        15     41942   4576730.0  0.923077  109.120452    1
9        201500        16      8040    319121.0  0.054945   39.691667    1
10       201500        17        41      3761.0  0.065934   91.731707    1
11       201500        19       224     11528.0  0.054945   51.464286    1
12       201500        20       232     12298.0  0.054945   53.008621    1
13       201500        22        28      2040.0  0.021978   72.857143    1
14       201500        23        52      2160.0  0.021978   41.538462    1
15       201500        25      5577    372620.0  0.274725   66.813699    1
16       201500        26      1068     67197.0  0.197802   62.918539    1
17       201500        28       447     28395.0  0.131868   63.523490    1
18       201500        29      1742     82770.0  0.043956   47.514351    1
19       201500        34        32      5750.0  0.010989  179.687500    1
20       201500        36    288407  23698816.0  1.000000   82.171431    1
21       201500        44       622     51882.0  0.010989   83.411576    1
22       201500        45      5382    466966.0  0.186813   86.764400    1
23       201500        46     30482   2194795.0  0.285714   72.002985    1
24       201500        47       262     25924.0  0.032967   98.946565    1
25       201500        48       104      8724.0  0.010989   83.884615    1
26       201500        49    231256  19399597.0  1.000000   83.887973    1
27       201500        50     45281   3831463.0  0.736264   84.615247    1
28       201500        51       206     14938.0  0.087912   72.514563    1
29       201500        53     11484   1162344.0  0.648352  101.214211    1
30       201500        54        38      2384.0  0.010989   62.736842    1
31       201500        56        38      3572.0  0.010989   94.000000    1
32       201500        57        70      5724.0  0.032967   81.771429    1
33       201500        59        44      3826.0  0.032967   86.954545    1
34       201500        60    215592  18095744.0  1.000000   83.935137    1
35       201500        61      4670    402571.0  0.417582   86.203640    1
36       201500        62        48      4056.0  0.010989   84.500000    1
37       201500        63       187     15299.0  0.054945   81.812834    1
38       201500        64    282824  25892423.0  1.000000   91.549596    1
39       201500        65       294     22422.0  0.010989   76.265306    1
40       201500        66    537681  44228377.0  1.000000   82.257653    1
41       201500        67      6119    475609.0  0.252747   77.726589    1
42       201500        68       918     66086.0  0.164835   71.989107    1
43       201500        69    396344  32993551.0  1.000000   83.244734    1
44       201501         0       278     27904.0  0.052632  100.374101    1

In [5]:
ls = list(df['Uid code'])
c = Counter(ls)
len(sorted(c.most_common(100)))  # 71 Unique ID in total

71

In [6]:
tmp_we = 201500

tmp_q = np.array(df[df['Week_ending'] == tmp_we]['quantity'])

tmp_q.sum()

2267976

In [7]:
df.loc[df['Week_ending'] == tmp_we, 'PoS'] = df['quantity']/tmp_q.sum()
one = np.array(df.loc[df['Week_ending'] == tmp_we, 'PoS']).sum()
df.head(45)

,Week_ending,Uid code,quantity,amount,ND,Sale,PoS
0,201500,0,222,22502.0,0.065934,101.360360,0.000098
1,201500,2,14744,2157921.0,0.791209,146.359265,0.006501
2,201500,8,14218,561888.0,0.461538,39.519482,0.006269
3,201500,9,46848,4541924.0,0.879121,96.950222,0.020656
4,201500,10,61756,1683835.0,0.406593,27.265934,0.027230
5,201500,11,103,14011.0,0.087912,136.029126,0.000045
6,201500,13,302,18181.0,0.054945,60.201987,0.000133
7,201500,14,12005,1171070.0,0.582418,97.548521,0.005293
8,201500,15,41942,4576730.0,0.923077,109.120452,0.018493
9,201500,16,8040,319121.0,0.054945,39.691667,0.003545
10,201500,17,41,3761.0,0.065934,91.731707,0.000018
11,201500,19,224,11528.0,0.054945,51.464286,0.000099
12,201500,20,232,12298.0,0.054945,53.008621,0.000102
13,201500,22,28,2040.0,0.021978,72.857143,0.000012
14,201500,23,52,2160.0,0.021978,41.538462,0.000023
15,201500,25,5577,372620.0,0.274725,66.813699,0.002459
16,201500,26,1068,67197.0,0.197802,62.918539,0.000471
17,201500,28,447,28395.0,0.131868,63.523490,0.000197
18,201500,29,1742,82770.0,0.043956,47.514351,0.000768
19,201500,34,32,5750.0,0.010989,179.687500,0.000014
20,201500,36,288407,23698816.0,1.000000,82.171431,0.127165
21,201500,44,622,51882.0,0.010989,83.411576,0.000274
22,201500,45,5382,466966.0,0.186813,86.764400,0.002373
23,201500,46,30482,2194795.0,0.285714,72.002985,0.013440
24,201500,47,262,25924.0,0.032967,98.946565,0.000116
25,201500,48,104,8724.0,0.010989,83.884615,0.000046
26,201500,49,231256,19399597.0,1.000000,83.887973,0.101966
27,201500,50,45281,3831463.0,0.736264,84.615247,0.019965
28,201500,51,206,14938.0,0.087912,72.514563,0.000091
29,201500,53,11484,1162344.0,0.648352,101.214211,0.005064
30,201500,54,38,2384.0,0.010989,62.736842,0.000017
31,201500,56,38,3572.0,0.010989,94.000000,0.000017
32,201500,57,70,5724.0,0.032967,81.771429,0.000031
33,201500,59,44,3826.0,0.032967,86.954545,0.000019
34,201500,60,215592,18095744.0,1.000000,83.935137,0.095059
35,201500,61,4670,402571.0,0.417582,86.203640,0.002059
36,201500,62,48,4056.0,0.010989,84.500000,0.000021
37,201500,63,187,15299.0,0.054945,81.812834,0.000082
38,201500,64,282824,25892423.0,1.000000,91.549596,0.124703
39,201500,65,294,22422.0,0.010989,76.265306,0.000130
40,201500,66,537681,44228377.0,1.000000,82.257653,0.237075
41,201500,67,6119,475609.0,0.252747,77.726589,0.002698
42,201500,68,918,66086.0,0.164835,71.989107,0.000405
43,201500,69,396344,32993551.0,1.000000,83.244734,0.174757
44,201501,0,278,27904.0,0.052632,100.374101,1.000000